$primary-color: #84cacc;

// class-ifying commonly used styles
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.margin-50 {
    margin: 50px;
}

.overflow-y {
    overflow-y: scroll;
}

.bg-white {
    background-color: white;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column !important;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-muted {
    color: #8C8C8C;
}

.pseudo-disable {
    pointer-events: none;
    opacity: .5;
}